h1{
  	position: relative;
  	border-bottom: 0px solid white;
  	color: white;

}

.line{
	position: relative;
	border-bottom: 5px solid white;
  	color: white;
	top: 5%;

}

body {
    background-image: url("../img/images.jpg");
	background-repeat: repeat;
	 background-size: cover;
}

.option-display{
	position: relative; 
	color: rgba(146, 212, 223, 0.42);
	font: "calibri";
	font-size: 14px;
}
#canvas{
    position: relative;
    border: 1px solid grey;
    width: 580px;
    height: 580px;
    margin: 0 auto;
}

#g {
    position: absolute;
    font-family: "Calibri";
    font-size: 35px;
}

#logo {
    position: absolute;
    left: 87.5%;
    width: 171.5px;
    height: 50px;
}


#r {
    position: absolute;
    top: 105%;
    left: 1%;
}

#b {
    position: absolute;
    top: 105%;
    left: 58%;
}

#last {
    position: relative;
    top: 35%;
}
.dropbtn{
    
	color: white;
    background-color: rgba(146, 212, 223, 0.42);
    border: 2px solid  white;
    padding: 16px 15px;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    border-bottom: 4px solid white;
	
}
.dropbtn:hover{
    background-color: white;
    color:  rgba(146, 212, 223, 0.42);
	
}
.replay{
	color: white;
    background-color: rgba(146, 212, 223, 0.42);
    border: 2px solid  white;
    padding: 16px 15px;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom: 4px solid white;
}

.replay:hover{
	background-color: white;
    color:  rgba(146, 212, 223, 0.42);
}
.pass{
  	color: white;
    background-color: rgba(146, 212, 223, 0.42);
    border: 2px solid  white;
    padding: 16px 15px;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom: 4px solid white;
    
}
.pass:hover{
	background-color: white;
    color:  rgba(146, 212, 223, 0.42);
}

.inner {display: inline-block;}

/*
 * From stackoverflow.com/questions/18640503/how-to-position-the-button-exactly-in-css
 */

.b-colour {
    position: absolute;
    top: 11.9%;
    left: 74.4%;
}

.a-colour {
    position: absolute;
    top: 11.9%;
    left: 87%;
}

.board-colour {
    position: absolute;
    top: 11.9%;
    left: 11%;
}

.board-size {
    position: absolute;
    top: 20%;
    left: 25%;
}

.close {
	color:#aaaaaa;
	float:right;
	font-size:28px;
	font-weight:bold;
	padding-right:30px;
	font-family:"Comic Sans MS",cursive,sans-serif;
}

.close:hover,
.close:focus{
	color: #000;
	text-decoration:none;
	cursor:pointer;
}

.game-mode {
    position: absolute;
    top: 20%;
    left: 35%;
}

.modal {
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow: auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-content{
	background-color:#fefefe;
	margin:auto;
	padding:40px 25% 100px;
	border:1px solid #888;
	padding-bottom: 150px;
	width:80%;
	color: white;
}

.replay {
    position: absolute;
    border-bottom: 4px solid white;
	right: 50.5%;
	
}

.pass {
    position: absolute;
    top: 11.9%;
    left: 49.8%;
}

#r{
	position: aboslute;
	bottom: 0;
}

.option-display{
	font-size: 20px;
	font-family: "calibri";
	color: rgba(148, 234, 239, 0.42);
	top: 25%;
	left: 57%;
}

#start-game{
	position: absolute;
	left: 46%;
	top:20%
}

#board-size-display{
	font-size: 20px;
	font-family: "calibri";
	color: rgba(146, 212, 223, 0.89);
	position: absolute;
	top: 22%;
	left: 57%
	
}
#game-type-display{
	font-size: 20px;
	font-family: "calibri";
	color: rgba(146, 212, 223, 0.89);
	position: absolute;
	top: 18%;
	left: 57%;
	

}

.player-one-score{
	position: absolute;
	top: 40%;
	color: #d4d4d4;
	font-family: "calibri";
	font-size: 28px;
	left: 5%;
	background: white;
	padding: 50px;

}

.player-two-score{
	position: absolute;
	top: 40%;
	color: white;
	font-family: "calibri";
	font-size: 28px;
	right: 5%;
	background: #d4d4d4;
	padding: 50px;
}

.modal-score{
	display:none;
	position: fixed;
	z-index: 1; 
	left: 25%;
	top: 0;
	width: 50%; 
	height: 90%;
	overflow: auto;
}

.modal-content-2 {
	position: relative; 
	font-size: 25px;
	font-family: "calibri";
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 100px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
	color:  rgba(146, 212, 223, 0.89);
	
}

#winner{
	font-size: 30px;
	position: absolute;
	text-align: center;
	top: 0;
	left: 30%


}
#player-one-final-score{
	position: absolute;
	top: 45%;
	left: 15%;
	
}
#player-two-final-score{
	position: absolute;
	top: 45%;
	right: 30%;
	
}
#score{
	position: absolute;
	left: 37%;
	top: 23%;
}

#close-info{
	position: absolute;
	font-size: 16px;
	left: 26%;
	top: 65%;
}

.close {
    color: #aaa4
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	left: 2%;
	top: 94%;
	
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(118, 214, 223, 0.79);
    padding: 12px 50px;
    text-decoration: none;
	font-family: "calibri";
	font-size: 18px;
    
    float: left;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}

































